/* Copyright: 2boom 2023-25 */

/* CSS Variables */
:root {
    /* Theme Colors */
    --primary: #00A4E9;
    --success: #00D672;
    --warning: #FF6433;
    --error: #FF2337;
    --secondary: #F8AE3C;
    --mred: #FF9D9F;
    --myellow: #FFD38C;
    --mgreen: #CBE070;
    --mdarkgreen: #11893A;
    --mdarkred: #C53131;
    --mblue: #9FADE3;
    --mviolet: #AE8FC0;
    --mdarkblue: #0881d8;
    --bgyellow: #FFCD66;
    --bbyellow: #E0A424;
    --bggreen: #64B461;
    --bbgreen: #3E943B;
    --bgred: #ff2337;
    --bbred: #B81422;
    --bgorange: #FF6433;
    --bborange: #C43D1C;
    --bgwhite: #F5F5F5;
    --bggrey: #CFCFCF;

    /* Theme-Specific Variables */
    --color-scheme-background: #F8F8F8;
    --color-scheme-text-color: #555657;
    --mapp: #313140;
    --mmessage: #E1E1E1;
    --mdesc: #696969;
    --mbkg: #F5F5F5;
    --msbkg: #FCFCFC;
    --mhbkg: #EEEEEE;
    --mhbor: #FF6368;
    --mborder: #CFCFCF;
    --mactive: #5E6E18;
    --minactive: #FF5C5F;
    --mexited: #F9B236;
    --mheader: #FFFFFF;
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
    :root {
        --color-scheme-background: #252525;
        --color-scheme-text-color: #EFEFEF;
        --mapp: #B9B9C8;
        --mmessage: #2b2b2b;
        --mdesc: #B9B9C8;
        --mbkg: #383838;
        --msbkg: #2B2B2B;
        --mhbkg: #454545;
        --mhbor: #FF595E;
        --mborder: #666666;
        --mactive: #B9B9C8;
        --minactive: #FF5C5F;
        --mexited: #F9B236;
        --mheader: #000000;
    }
}

/* Base Styles */
html {
    background: var(--color-scheme-background);
    color: var(--color-scheme-text-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.2;
    margin: 0;
    display: flex;
    justify-content: center;
}

body {
    margin: 5px 10px;
    font-size: 0.9em;
    max-width: 100%;
}

h1 {
    display: flex;
    justify-content: space-between;
    color: var(--mapp);
    font-size: 1em;
    margin: 5px 5px;
}

/* Table Styles */
.white-round {
        width: 13px;
        height: 13px;
        background-color: var(--bgwhite);
        border-radius: 50%;
        border: 1px solid var(--bggrey);
    }
.red-round {
        width: 12px;
        height: 12px;
        background-color:  var(--bgred);
        border-radius: 50%;
        border: 1px solid var(--bbred);
    }
.green-round {
        width: 12px;
        height: 12px;
        background-color:  var(--bggreen);
        border-radius: 50%;
        border: 1px solid var(--bbgreen);
    }
.yellow-round {
        width: 12px;
        height: 12px;
        background-color:  var(--bgyellow);
        border-radius: 50%;
        border: 1px solid var(--bbyellow);
    }
.orange-round {
        width: 12px;
        height: 12px;
        background-color:  var(--bgorange);
        border-radius: 50%;
        border: 1px solid var(--bborange);
    }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 6px;
    background: var(--msbkg);
}

th, td {
    border: 1px solid var(--mborder);
    border-left: none;
    border-right: none;
    padding: 4px 6px;
    text-align: left;
}

th {
    background: var(--mhbkg);
    color: var(--mapp);
}

tr:nth-child(even) {
    background: var(--mbkg);
}

/* Utility Classes */
.nowrap {
    white-space: nowrap;
}

td span[title] {
    cursor: pointer;
}

.copyright {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    padding-bottom: 10px;
}

.copyright span {
    font-size: 0.85em;
    color: var(--mborder);
}
.h1_ext {
    font-weight: normal;
    font-size: 0.9em; 
    color: var(--mapp);
}

/* Mobile Styles */
@media (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin-bottom: 8px;
        background: var(--msbkg);
    }

    tr:nth-child(even) {
        background: var(--mbkg);
    }

    td {
        border: none;
        padding: 3px 6px;
        line-height: 1.1;
        font-size: 0.9em;
    }

    td[data-label="Count"],
    td[data-label="Time"] {
        display: none;
    }

    td[data-label="Status"],
    td[data-label="Service"] {
        display: inline-block;
        width: auto;
        padding: 2px 5px;
        vertical-align: top;
    }

    td[data-label="Status"] {
        margin-right: 10px;
    }

    td.status-service {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 3px 6px;
        font-size: 0.9em;
    }

    td.status-service .status {
        color: var(--mactive);
        font-weight: bold;
    }

    td.status-service .service {
        color: var(--mapp);
        font-style: italic;
    }
    h1 {
        display: none;
    }
}